html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title application
        link(rel="stylesheet" href="style.css")
    body
        div.application_contaner
            div.application_background
            div.contaner
                div.Background
                h2.Application_header Tini For the Smart Phone
                strong 
                    p.paragraph Tini in your hand! anytime.. anywhere.. 
                strong
                    p.paragraph Download our App for a better shopping experience!
                img(class="iphone" src="iphone.png" alt="")
                img(class="samsong" src="samsong.png" alt="")
                img(class="ios" src="ios.png" alt="")
                img(class="android" src="android.png" alt="")
                button(class="Application_button Play store google_play") google play
                button.Application_button app store
                img(class="samsong_screen" src="tini.png" alt="")
                img(class="iphone_screen" src="tini.png" alt="")

