include HTML/pug/mixin.pug
html
  head
    include HTML/pug/linker.pug
  body
    div(class="header")
    div(class="choose-page")
      div(class="main_container")
        div(class="chece-page") 
           
    +small_card   
    div(class="footer")
    include HTML/pug/link_javascript.pug
    script(src="js/wishlist.js")

    