div(class="button filtercolor")
    i Color
    span(id="colorsign" class="fa fa-angle-down")
div(class="button filtercolor")
    i Type
    span(id="colorsign" class="fa fa-angle-down")
div(class="button filtercolor")
    i Sort By
    span(id="colorsign" class="fa fa-angle-down")
div(class="button filtercolor")
    i Price Ring
    span(id="colorsign" class="fa fa-angle-down")
div(class="button filtercolor")
    i Size
    span(id="colorsign" class="fa fa-angle-down")
div(class="container")
    div(class="filtercolor allcolor filteritem")
